body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: whitesmoke;
}

nav{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

/* Track (the area where the scrollbar is) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Button at the top and bottom of the scrollbar */
::-webkit-scrollbar-button {
  display: none; /* Hide the button */
}

/* Corner between the vertical and horizontal scrollbars */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/* Resizer (for resizing the textarea or text input) */
::-webkit-resizer {
  background: #888;
}


.social-icon {
  display: inline-block;
  background-color: #168ad8; /* Change the background color as needed */
  border-radius: 50%;
  padding: 10px;
}

.social-icon:hover {
background-color: #3498db; /* Change the background color as needed */
}

.icon {
  color: white; /* Change the icon color as needed */
}

.error-message {
color: red;
margin-bottom: 10px;  /* Optional: Add some spacing below the error message */
}

